html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(
      rel='stylesheet',
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    )
    link(
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap',
      rel='stylesheet'
    )
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
    link(rel='stylesheet', href='css/style.css')

    title Get-YourInfo | #{ title }

  body
    .background
      .shape
      .shape

    form
      h4.heading= `Logged In with ${user.provider}`
      .profile
        .profile--header
          .profile__photo
            img.profile__image(src=`${user.photo}`, alt=`${user.name}`)
          .profile__id= `${user.provider}-id: ${user.id}`
        .profile--details
          .profile__name= `Name: ${user.name}`
          .profile__email= `${user.provider === 'github' ? `Profile: ${user.profileUrl}` : `Email: ${user.email}`}`

      .btn.btn--logout
        a.btn__link(href='/logout') Logout
