html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(
      rel='stylesheet',
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    )
    link(
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap',
      rel='stylesheet'
    )
    link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/apple-touch-icon.png')
    //- link(rel='stylesheet', href='css/style.css')

    title Get Account Info | #{ title }

  body
    h1= `User Profile ${user.provider}`
    h1= `User Profile ${user.displayName}`
    a(href='/login') login
    br
    a(href='/logout') logout

//- {{! 
//- User Profile {
//-   id: '115064453586206259801',
//-   displayName: 'Saurabh Panchal',
//-   name: { familyName: 'Panchal', givenName: 'Saurabh' },
//-   emails: [ { value: 'saurabh.panchal1018@gmail.com', verified: true } ],
//-   photos: [
//-     {
//-       value: 'https://lh3.googleusercontent.com/a/AAcHTtdDaAjn7F5sLPKQjDFOK-maxHLd3TjA5kppIOPn4g=s96-c'
//-     }
//-   ],
//-   provider: 'google',
//-   _raw: '{\n' +
//-     '  "sub": "115064453586206259801",\n' +
//-     '  "name": "Saurabh Panchal",\n' +
//-     '  "given_name": "Saurabh",\n' +
//-     '  "family_name": "Panchal",\n' +
//-     '  "picture": "https://lh3.googleusercontent.com/a/AAcHTtdDaAjn7F5sLPKQjDFOK-maxHLd3TjA5kppIOPn4g\\u003ds96-c",\n' +
//-     '  "email": "saurabh.panchal1018@gmail.com",\n' +
//-     '  "email_verified": true,\n' +
//-     '  "locale": "en-GB"\n' +
//-     '}',
//-   _json: {
//-     sub: '115064453586206259801',
//-     name: 'Saurabh Panchal',
//-     given_name: 'Saurabh',
//-     family_name: 'Panchal',
//-     picture: 'https://lh3.googleusercontent.com/a/AAcHTtdDaAjn7F5sLPKQjDFOK-maxHLd3TjA5kppIOPn4g=s96-c',
//-     email: 'saurabh.panchal1018@gmail.com',
//-     email_verified: true,
//-     locale: 'en-GB'
//-   }
//- } }}
